***BASICS OF PYTHON PROGRAMMING LANGUAGE***

---



---

From the https://docs.python.org/3/tutorial/index.html, Python is an easy to learn, powerful programming language. Pythonâ€™s elegant syntax and dynamic typing, together with its interpreted nature, make it an ideal language for scripting and rapid application development.

There is a well known Easter Egg in Python called **import this** that when added to your code will automatically output

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# **Variables**

---



A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

Rules for Python variables:



*   A variable name must start with a letter or the underscore character
*   A variable name cannot start with a number


*   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
*   Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
#Legal variable names:
myvar = "String"
my_var = "String"
_my_var = "String"
myVar = "String"
MYVAR = "String"
myvar2 = "String"

In [ ]:
#Illegal variable names:
2myvar = "String"
my-var = "String"
my var = "String"

SyntaxError: ignored

# **Comments**

---
Comments in Python is the inclusion of short descriptions along with the code to increase its readability.


Inline comment:


```
# This is comment
```
Multiline comment:


```
# This is a
# multiline comment
```

OR


```
"""
This is a comment
written in
more than just one line
"""
```

# **The print() Function**

---



The print() function writes the value of the argument(s) it is given.It handles multiple arguments, floating point-quantities, and strings. Strings are printed without quotes, and a space is inserted between items, so you can format things nicely:

In [ ]:
print('Hello world!')

Hello world!

In [ ]:
a = 1
print('Hello world!', a)

Hello world! 1

# **Mathematics Operators**


---

In [ ]:
#Exponent -- Return the power
print(2**5)

32

In [ ]:
#Modulus/Remainder -- Return the reaminder 
print(22%4)

2

In [ ]:
#Integer division -- Return the integer part of divison
print(22//4)

5

In [ ]:
# Division 
print(22/4)

5.5

In [ ]:
# Multiplication
print(4*9)

36

In [ ]:
#Subtraction
print(30-2)

28

In [ ]:
# Addition
print(30+2)

32

# **Augmented Assignment Operator**

---



var+=1 -- var=var+1

In [ ]:
num=2
num+ = 12
print(num)

14

# **Data Types**

---



Integers  --  ...-2,-1,0,1,2...

Float -- ...,-1.23,-0.343,0.0, 0.5,1.0,...

Strings -- 'a' , 'aa' , 'aaa' , 'Hello!' , '11 cats'

# **Concatenation**

---



String concatenation means add strings together.

In [ ]:
"Abc"+"Def"

'AbcDef'

# **Replication**

---



The repetition operator is denoted by a '*' symbol and is useful for repeating strings to a certain length.

In [ ]:
'Alice' * 5

'AliceAliceAliceAliceAlice'

# **The end Keyword**


---


The keyword argument end can be used to avoid the newline after the output, or end the output with a different string:

In [ ]:
phrase = ['printed', 'with', 'a', 'dash', 'in', 'between']
for word in phrase:
    print(word, end='-')

printed-with-a-dash-in-between-

# **The sep Keyword**


---


The keyword sep specify how to separate the objects, if there is more than one:

In [ ]:
print('cats', 'dogs', 'mice', sep=',')

cats,dogs,mice

# **The input() Function**

---



This function takes the input from the user and converts it into a string.

In [ ]:
print('What is your name?')   # ask for their name
my_name = input()
print("Hi",my_name)

What is your name?
Garvit
Hi Garvit

In [ ]:
print("Enter the number")
num=int(input())             #Take the numerical value
print("The number is",num)

Enter the number
04
The number is 4

# **The len() Function**

---



Evaluates to the integer value of the number of characters in a string, list, dictionary, etc.

In [ ]:
len('hello')

5

In [ ]:
len(['cat', 3, 'dog'])

3

# **The str(), int(), and float() Functions**

---



These functions allow you to change the type of variable. For example, 

you can transform from an integer or float to a string:

In [ ]:
str(123)

'123'

In [ ]:
str(-3.14)

'-3.14'

Or from a string to an integer or float

In [ ]:
num='100'
int(num)

100

In [ ]:
float('3.14')

3.14

# **Comparison and Logical Operators**

---

Comparison operators are used to compare values. It will either return true or false.

In [ ]:
# Greater than 
100 > 1

True

In [ ]:
# Equal to
100 == 1

False

In [ ]:
# Less than

100 < 1

False

In [ ]:
# Greater or equal to

100 >= 1

True

In [ ]:
# Less or equal to

100 <= 1

False

In [ ]:
'Intro to Python' == 'intro to python'

False

In [ ]:
'Intro to Python' == 'Intro to Python'

True

Logic operators are used to compare two expressions made by comparison operators.


*   Logic and returns true only when both expressions are true, otherwise false.
*   Logic or returns true when either any of both expressions is true. Only false if both expressions are false.

*   Logic not as you can guess, it will return false when given expression is true, vice versa.

In [ ]:
100 == 100 and 100 == 100

True

In [ ]:
100 == 10 or 100 == 100

True

In [ ]:
100 <= 10 and 100 == 100

False

In [ ]:
100 == 10 or 100 == 10

False

In [ ]:
not 1 == 2

True

# **Control Flow**

---



As an engineer, you will need to make decisions depending on the particular situation. You will also need to control the flow of the program and this is where Control Flow comes in.

We will cover:

1.   If Statement
2.   For Loop
3.   While Loop

**If, Elif, Else**

Structure of If condition:

    if condition:
          do something

    else:
          do this

In [ ]:
if 100 < 2:

  print("As expected, no thing will be displayed")

In [ ]:
if 100 > 2:

  print("As expected, this thing will be displayed")

As expected, this thing will be displayed

In [ ]:
# Let's assign a number to a variable name 'John_age' and 'luck_age'

john_age = 30
luck_age = 20

if john_age > luck_age:
  print("John is older than Luck")

else:
  print(" John is younger than Luck")

John is older than Luck

In [ ]:
# Let's use multiple conditions 

john_age = 30
luck_age = 20
yan_age = 30

if john_age < luck_age:
  print("John is older than Luck")

elif yan_age == luck_age:
  print(" Yan's Age is same as Luck")

elif luck_age > john_age:
  print("Luck is older than John")

else:
  print("John's age is same as Yan")

John's age is same as Yan

**For Loop**

For loop is used to iterate over list, string, tuples, or dictionary.

Structure of for loop:

    for item in items:
           do something

In [ ]:
even_nums = [2,4,6,8,10]

for num in even_nums:
  print(num)

2
4
6
8
10

In [ ]:
sentence = "Hello !!"

for letter in sentence:
  print(letter)

H
e
l
l
o

!
!

For can also be used to iterate over an sequence of numbers.

 Range is used to generate the sequence of numbers.

    for number in range:         # range(start,end,step)
             do something

In [ ]:
for number in range(10):
  print(number)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for number in range(10, 20,2):
  print(number)

10
12
14
16
18

**While loop**

While loop will executes the statement(s) as long as the condition is true.

Structure of while loop

    while condition:
          statement(s)

In [ ]:
a = 10
while a < 20:
    print("a is",a)
    a = a + 1

a is 10
a is 11
a is 12
a is 13
a is 14
a is 15
a is 16
a is 17
a is 18
a is 19



---



---