# ***PYTHON DATA STRUCTURES***

The basic Python data structures in Python include list, set, tuples, and dictionary. Each of the data structures is unique in its own way. Data structures are “containers” that organize and group data according to type. The data structures differ based on mutability and order.

![python_data_structures.png]()

There are four collection data types in the Python programming language:

1. **List** is a collection which is ordered and changeable. Allows duplicate members.
2. **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
3. **Set** is a collection which is unordered and unindexed. No duplicate members.
4. **Dictionary** is a collection which is unordered, changeable and indexed. No duplicate members.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

# *List*

A list is a collection which is ordered and changeable. In Python lists are written with square brackets. [ ]

In [1]:
# Example
thislist = ["apple","banana","guava","cherry"]
print(thislist)

['apple', 'banana', 'guava', 'cherry']

**Access Items**

You access the list items by referring to the index number: (Index numbering start from 0 to n-1)

In [2]:
thislist = ["apple","banana","cherry"]
print(thislist[2])

cherry

**Loop Through a list**

You can loop through the list items by using a for loop.

In [3]:
thislist = ["apple","banana","guava","cherry"]
for x in thislist:
  print(x)

apple
banana
guava
cherry

**Change Item Value**

To change the value of a specific item, refer to the index number:

In [4]:
thislist = ["apple","banana","cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

**List Length**

To determine how many items a list has, use the len() method:

In [5]:
thislist = ["apple","banana","cherry"]
print(len(thislist))

3

**Add Items**

To add an item to the end of the list, use the append() method:

In [6]:
thislist = ["apple","banana","cherry"]
thislist.append("blackcurrant")
print(thislist)

['apple', 'banana', 'cherry', 'blackcurrant']

To add an item at the specified index, use the insert() method:

In [7]:
thislist = ["apple","banana","cherry"]
thislist.insert(2,"orange")
print(thislist)

['apple', 'banana', 'orange', 'cherry']

**Python List/Array Methods**


**append()** : Adds an element at the end of the list

**clear()** : Removes all the elements from the list

**copy()** : Returns a copy of the list

**count()** : Returns the number of elements with the specified value

**extend()** : Add the elements of a list (or any iterable), to the end of the current list

**index()** : Returns the index of the first element with the specified value

**insert()** : Adds an element at the specified position

**pop()** : Removes the element at the specified position

**remove()** : Removes the item with the specified value

**reverse()** : Reverses the order of the list

**sort()** : Sorts the list

**copy()** : Returns a copy of the list

---



---

# *Tuples*

A tuple is a collection which is ordered and immutable (unchangeable). In Python tuples are written with round brackets.

In [9]:
thistuple = ("apple","banana","cherry")
print(thistuple)

('apple', 'banana', 'cherry')

**Access Tuple Items**

You can access tuple items by referring to the index number, inside square brackets: (indexing start from 0 to n-1)

In [10]:
thistuple = ("apple","banana","cherry")
print(thistuple[1])

banana

**Change Tuple Values**

Once a tuple is created, you cannot change its values. **Tuples are unchangeable or immutable.**

In [11]:
thistuple = ("apple","banana","cherry")
thistuple[1]="blackcurrat"
print(thistuple)

TypeError: ignored

**Loop Through a Tuple**

You can loop through the tuple items by using a for loop.

In [12]:
thistuple = ("apple","banana","cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

**Tuple Length**

To determine how many items a tuple has, use the len() method:

In [13]:
thistuple = ("apple","banana","cherry")
print(len(thistuple))

3

**The tuple() Constructor**

It is also possible to use the tuple() constructor to make a tuple.

In [14]:
thistuple = tuple(("apple","banana","cherry"))
print(thistuple)

('apple', 'banana', 'cherry')

**Python Tuple Methods**

Python has two built-in methods that you can use on tuples.

**count()**: Returns the number of times a specified value occurs in a tuple

**index()** : Searches the tuple for a specified value and returns the position of where it was found

---



---

# *Dictionary*

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets { }, and they have keys and values in each items.

In [15]:
# Create and print a dictionary:

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

**Accessing Items**

You can access the items of a dictionary by referring to its key name, inside square brackets:

In [16]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

**Change Values**

You can change the value of a specific item by referring to its key name:

In [17]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

**Loop Through a Dictionary**

You can loop through a dictionary by using a for loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [18]:
#Print all key names in the dictionary, one by one:

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for x in thisdict:
  print(x)

brand
model
year

**Dictionary Length**

To determine how many items (key-value pairs) a dictionary has, use the len() method.

In [19]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(len(thisdict))

3

**Adding Items**

Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [20]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"]="Red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'Red'}

**The dict() Constructor**

It is also possible to use the dict() constructor to make a dictionary:

In [21]:
thisdict =	dict(brand="Ford", model="Mustang", year=1964)
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

**Python Dictionary Methods**

**clear()** : Removes all the elements from the dictionary

**copy()**: Returns a copy of the dictionary

**fromkeys()** : Returns a dictionary with the specified keys and values

**get()** : Returns the value of the specified key

**items()** : Returns a list containing the a tuple for each key value pair

**keys()**: Returns a list containing the dictionary's keys

**pop()** : Removes the element with the specified key

**popitem()** : Removes the last inserted key-value pair

**setdefault()** : Returns the value of the specified key. If the key does not exist: insert the key, with the specified value

**update()** : Updates the dictionary with the specified key-value pairs

**values()** :Returns a list of all the values in the dictionary

---



---

# *Set*

A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets { }

**Note**: Sets are unordered, so the items will appear in a random order.

In [22]:
#Create a Set:

thisset = {"apple", "banana", "cherry","cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

**Access Items**

You cannot access items in a set by referring to an index, since sets are unordered the items has no index.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [23]:
#Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

**Change Items**

Once a set is created, you cannot change its items becuase it unorder and unindexed, but you can add new items.

**Add Items**

To add one item to a set use the add() method.

In [24]:
thisset = {"apple", "banana", "cherry"}#
thisset.add("orange")
print(thisset)

{'apple', 'banana', 'cherry', 'orange'}

**Get the Length of a Set**

To determine how many items a set has, use the len() method.

In [25]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

**The set() Constructor**

It is also possible to use the set() constructor to make a set.

In [26]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

**Python Set Methods**

**add()** : Adds an element to the set

**clear()** : Removes all the elements from the set

**copy()** : Returns a copy of the set

**difference()** : Returns a set containing the difference between two or more sets

**difference_update()** : Removes the items in this set that are also included in another, specified set

**discard()** : Remove the specified item

**intersection()** : Returns a set, that is the intersection of two other sets

**intersection_update()** : Removes the items in this set that are not present in other, specified set(s)

**isdisjoint()**: Returns whether two sets have a intersection or not

**issubset()** : Returns whether another set contains this set or not

**issuperset()** : Returns whether this set contains another set or not

**pop()** : Removes an element from the set

**remove()** : Removes the specified element

**symmetric_difference()** : Returns a set with the symmetric differences of two sets

**symmetric_difference_update()** : inserts the symmetric differences from this set and another

**union()** : Return a set containing the union of sets

**update()** :Update the set with another set, or any other iterable


---



---